@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100%;
    background-color: rgba(113, 205, 228, 0.342);
}
header{
    width: 100%;
    
    background-image: linear-gradient(to left ,rgba(113, 205, 228, 0.24),rgba(24, 54, 119, 0.329));
    background-attachment: fixed;
    border-bottom: 2px solid white;
    padding: 20px;
}
header > h1{
    text-align: center;
    color: white;
    line-height: 2em;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
menu{
    margin-top: 30px;
    display: inline-block;
}
ul{
   display: flex;
   list-style-type: none;
   
}
li{
    text-align: center;
    padding: 20px;
    width: 150px;
    border: 1px solid white;
    cursor: pointer;
    margin: 10px;
}
main{
    width: 80vw;
    margin: auto;
    text-align: justify;
    padding: 20px;
    background-color: white;
    margin-top: 10px;
    line-height: 1.5em;
}
article > h1{
    text-align: center;
}
footer{
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to left ,rgba(113, 205, 228, 0.24),rgba(24, 54, 119, 0.329));
    background-attachment: fixed;
    color: black;
    font-weight: bold;
    border-top: 1px solid black;
}
p > a{
    color: rgb(64, 180, 209);
}
#men{
    display: none;
}
.pato > p{
    max-width: 650px;
    text-align: justify;
    margin-left: 20px;
}
.pato{
    background-image: url('poluicao.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-size: 2em;
    line-height: 1.5em;
}
.texto{
    margin: 20px;
}
.texto > p{
    line-height: 2em;
    margin-top: 10px;
}
.texto > h3{
    margin: 10px;
}
.rio > p{
    max-width: 650px;
    text-align: justify;
    margin-left: 20px;
}
.rio{
    background-image: url('escassez-de-agua.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-size: 2em;
    line-height: 1.5em;
}
.rio > h2 ,h3{
    margin: 10px;
}
.porsentagem > p{
    max-width: 650px;
    text-align: justify;
    margin-left: 20px;
}
.porsentagem{
    background-image: url('iStock-586172462.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    font-size: 2em;
    line-height: 1.5em;
}